---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

#Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
# Question 1
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    data = pd.read_table('university_towns.txt', header = None)
    data.rename(columns={0:'State'}, inplace=True)
    data['RegionName'] = data['State']
    data['Test'] = np.nan
    
    for i in range(567):
        line = data.loc[i,'State']
        if line[-5:-1] == 'edit':
            data.loc[i,'Test'] = line
    data = data.fillna(method='ffill', axis=0)
    
    data['State'] = data['Test']
    data = data.drop('Test', axis=1)
    data = data[data['State'] != data['RegionName']]

    data['State'] = data['State'].str.extract('(^[a-zA-Z,.\-\s\:\"]+)', expand=False).str.strip()
    data['RegionName'] = data['RegionName'].str.extract('(^[a-zA-Z,.\-\s\:\"\–]+)', expand=False).str.strip()
    
    data = data.reset_index()
    data = data.drop('index', axis=1)
    data = data.set_index('State')
    data = data.reset_index()

    return data

get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [4]:
# Question 1 Checker
import re
# list of unique states
stateStr = """
Ohio, Kentucky, American Samoa, Nevada, Wyoming
,National, Alabama, Maryland, Alaska, Utah
,Oregon, Montana, Illinois, Tennessee, District of Columbia
,Vermont, Idaho, Arkansas, Maine, Washington
,Hawaii, Wisconsin, Michigan, Indiana, New Jersey
,Arizona, Guam, Mississippi, Puerto Rico, North Carolina
,Texas, South Dakota, Northern Mariana Islands, Iowa, Missouri
,Connecticut, West Virginia, South Carolina, Louisiana, Kansas
,New York, Nebraska, Oklahoma, Florida, California
,Colorado, Pennsylvania, Delaware, New Mexico, Rhode Island
,Minnesota, Virgin Islands, New Hampshire, Massachusetts, Georgia
,North Dakota, Virginia
"""
#list of regionName entries string length
regNmLenStr = """
06,08,12,10,10,04,10,08,09,09,05,06,11,06,12,09,08,10,12,06,
06,06,08,05,09,06,05,06,10,28,06,06,09,06,08,09,10,35,09,15,
13,10,07,21,08,07,07,07,12,06,14,07,08,16,09,10,11,09,10,06,
11,05,06,09,10,12,06,06,11,07,08,13,07,11,05,06,06,07,10,08,
11,08,13,12,06,04,08,10,08,07,12,05,06,09,07,10,16,10,06,12,
08,07,06,06,06,11,14,11,07,06,06,12,08,10,11,06,10,14,04,11,
18,07,07,08,09,06,13,11,12,10,07,12,07,04,08,09,09,13,08,10,
16,09,10,08,06,08,12,07,11,09,07,09,06,12,06,09,07,10,09,10,
09,06,15,05,10,09,11,12,10,10,09,13,06,09,11,06,11,09,13,37,
06,13,06,09,49,07,11,12,09,11,11,07,12,10,06,06,09,04,09,15,
10,12,05,09,08,09,09,07,14,06,07,16,12,09,07,09,06,32,07,08,
08,06,10,36,09,10,09,06,09,11,09,06,10,07,14,08,07,06,10,09,
05,11,07,06,08,07,05,07,07,04,06,05,09,04,25,06,07,08,05,08,
06,05,11,09,07,07,06,13,09,05,16,05,10,09,08,11,06,06,06,10,
09,07,06,07,10,05,08,07,06,08,06,30,09,07,06,11,07,12,08,09,
16,12,11,08,06,04,10,10,15,05,11,11,09,08,06,04,10,10,07,09,
11,08,26,07,13,05,11,03,08,07,06,05,08,13,10,08,08,08,07,07,
09,05,04,11,11,07,06,10,11,03,04,06,06,08,08,06,10,09,05,11,
07,09,06,12,13,09,10,11,08,07,07,08,09,10,08,10,08,56,07,12,
07,16,08,04,10,10,10,10,07,09,08,09,09,10,07,09,09,09,12,14,
10,29,19,07,11,12,13,13,09,10,12,12,12,08,10,07,10,07,07,08,
08,08,09,10,09,11,09,07,09,10,11,11,10,09,09,12,09,06,08,07,
12,09,07,07,06,06,08,06,15,08,06,06,10,10,10,07,05,10,07,11,
09,12,10,12,04,10,05,05,04,14,07,10,09,07,11,10,10,10,11,15,
09,14,12,09,09,07,12,04,10,10,06,10,07,28,06,10,08,09,10,10,
10,13,12,08,10,09,09,07,09,09,07,11,11,13,08,10,07
"""

df = get_list_of_university_towns()

cols = ["State", "RegionName"]

print('Shape test: ', "Passed" if df.shape ==
      (517, 2) else 'Failed')
print('Index test: ',
      "Passed" if df.index.tolist() == list(range(517))
      else 'Failed')

print('Column test: ',
      "Passed" if df.columns.tolist() == cols else 'Failed')
print('\\n test: ',
      "Failed" if any(df[cols[0]].str.contains(
          '\n')) or any(df[cols[1]].str.contains('\n'))
      else 'Passed')
print('Trailing whitespace test:',
      "Failed" if any(df[cols[0]].str.contains(
          '\s+$')) or any(df[cols[1]].str.contains(
              '\s+$'))
      else 'Passed')
print('"(" test:',
      "Failed" if any(df[cols[0]].str.contains(
          '\(')) or any(df[cols[1]].str.contains(
              '\('))
      else 'Passed')
print('"[" test:',
      "Failed" if any(df[cols[0]].str.contains(
          '\[')) or any(df[cols[1]].str.contains(
              '\]'))
      else 'Passed')

states_vlist = [st.strip() for st in stateStr.split(',')]

mismatchedStates = df[~df['State'].isin(
    states_vlist)].loc[:, 'State'].unique()
print('State test: ', "Passed" if len(
    mismatchedStates) == 0 else "Failed")
if len(mismatchedStates) > 0:
    print()
    print('The following states failed the equality test:')
    print()
    print('\n'.join(mismatchedStates))

df['expected_length'] = [int(s.strip())
                         for s in regNmLenStr.split(',')
                         if s.strip().isdigit()]
regDiff = df[df['RegionName'].str.len() != df['expected_length']].loc[
    :, ['RegionName', 'expected_length']]
regDiff['actual_length'] = regDiff['RegionName'].str.len()
print('RegionName test: ', "Passed" if len(regDiff) ==
      0 else ' \nMismatching regionNames\n {}'.format(regDiff))

Shape test:  Passed
Index test:  Passed
Column test:  Passed
\n test:  Passed
Trailing whitespace test: Passed
"(" test: Passed
"[" test: Passed
State test:  Passed
RegionName test:  Passed

In [5]:
# Question 2
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    # We only need data starting with 2000q1
    data = pd.read_excel('gdplev.xls', skiprows = 220, usecols=[4, 5], header = None)
    data.rename(columns= {4:'Season', 5:'GDP'}, inplace=True)
    data = (data.reset_index()
                .drop('index', axis=1))
    
    # A recession is defined as starting with two consecutive quarters of GDP decline  
    recessionStart = []
    for i in np.arange(len(data)-2):
            if (data.iloc[i]['GDP'] > data.iloc[i+1]['GDP']) and (data.iloc[i+1]['GDP'] > data.iloc[i+2]['GDP']):
                recessionStart.append(data.iloc[i]['Season'])
                
    return recessionStart[0]

get_recession_start()

'2008q3'

In [6]:
# Question 3
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    # We only need data starting with 2000q1
    data = pd.read_excel('gdplev.xls', skiprows = 220, usecols=[4, 5], header = None)
    data.rename(columns= {4:'Season', 5:'GDP'}, inplace=True)
    data = (data.reset_index()
                .drop('index', axis=1))
    # Drop all rows before recession start
    recessionStart = get_recession_start()
    indexStart = 0
    for i in np.arange(len(data)):
            if (data.iloc[i]['Season'] == recessionStart):
                indexStart = i
    data = (data.drop(np.arange(indexStart))
                .reset_index()
                .drop('index', axis=1))
    
    # A recession is defined as ending with two consecutive quarters of GDP growth
    recessionEnd = []
    for i in np.arange(len(data)-2):
            if (data.iloc[i]['GDP'] < data.iloc[i+1]['GDP']) and (data.iloc[i+1]['GDP'] < data.iloc[i+2]['GDP']):
                recessionEnd.append(data.iloc[i+2]['Season'])

    return recessionEnd[0]

get_recession_end()

'2009q4'

In [7]:
# Question 4
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    # We only need data starting with 2000q1
    data = pd.read_excel('gdplev.xls', skiprows = 220, usecols=[4, 5], header = None)
    data.rename(columns= {4:'Season', 5:'GDP'}, inplace=True)
    data = (data.reset_index()
                .drop('index', axis=1))
    # Drop all rows before recession start
    recessionStart = get_recession_start()
    indexStart = 0
    for i in np.arange(len(data)):
            if (data.iloc[i]['Season'] == recessionStart):
                indexStart = i
    data = (data.drop(np.arange(indexStart))
                .reset_index()
                .drop('index', axis=1))
    
    # Drop all rows after recession ends
    recessionEnd = get_recession_end()
    indexEnd = 0
    for i in np.arange(len(data)):
            if (data.iloc[i]['Season'] == recessionEnd):
                indexEnd = i
    data = (data.drop(np.arange(indexEnd+1,len(data)))
                .reset_index()
                .drop('index', axis=1))
    
    # A recession bottom is the quarter within a recession which had the lowest GDP
    bottom = data.iloc[data['GDP'].idxmin()]
    return bottom['Season']

get_recession_bottom()

'2009q2'

In [38]:
# Question 5
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    houses = pd.read_csv('City_Zhvi_AllHomes.csv', usecols = [1, 2, *range(51, 251)])
    houses = houses.reset_index()
    houses = houses.drop(['index'], axis=1)
    
    houses['State'] = houses['State'].map(states)
    houses = (houses.set_index(['State','RegionName'])
                    .sort_index(level=0, axis=0, ascending=True, inplace=False, sort_remaining=True))
    
    # Computing quartely values
    # A quarter is a specific three month period
    # Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December
    
    for yN in np.arange(2000,2016):
        yS = str(yN)
        yQ1 = [yS+'-01', yS+'-02', yS+'-03']
        houses[yS+'q1'] = houses[yQ1].mean(axis=1)

        yQ2 = [yS+'-04', yS+'-05', yS+'-06']
        houses[yS+'q2'] = houses[yQ2].mean(axis=1)

        yQ3 = [yS+'-07', yS+'-08', yS+'-09']
        houses[yS+'q3'] = houses[yQ3].mean(axis=1)

        yQ4 = [yS+'-10', yS+'-11', yS+'-12']
        houses[yS+'q4'] = houses[yQ4].mean(axis=1)

    houses['2016q1'] = houses[['2016-01', '2016-02', '2016-03']].mean(axis=1)
    houses['2016q2'] = houses[['2016-04', '2016-05', '2016-06']].mean(axis=1)
    houses['2016q3'] = houses[['2016-07', '2016-08']].mean(axis=1)
    
    houses = houses.drop(['2016-07', '2016-08'], axis=1)

    
    # To format a column to 2 decimal places float:
    # houses['2000q1'] = houses['2000q1'].map('{:,.2f}'.format)
    
    return houses

convert_housing_data_to_quarters()

                               2000q1      2000q2      2000q3      2000q4  \
State     RegionName
Alabama   Adamsville        69,033.33   69,166.67   69,800.00   71,966.67
          Alabaster        122,133.33  123,066.67  123,166.67  123,700.00
          Albertville       73,966.67   72,600.00   72,833.33   74,200.00
          Arab              83,766.67   81,566.67   81,333.33   82,966.67
          Ardmore                 nan         nan         nan         nan
          Axis                    nan         nan         nan         nan
          Baileyton               nan         nan         nan         nan
          Bay Minette       81,700.00   78,533.33   79,133.33   81,300.00
          Bayou La Batre    44,066.67   44,500.00   44,266.67   43,666.67
          Bessemer                nan         nan         nan         nan
          Birmingham        54,033.33   54,400.00   54,966.67   56,066.67
          Boaz              70,866.67   70,266.67   70,300.00   71,466.67
          Brent             92,933.33   94,333.33   96,166.67   98,333.33
          Brighton                nan         nan         nan         nan
          Brookwood         92,566.67   95,100.00   98,866.67   99,966.67
          Buhl              90,800.00   94,600.00   96,500.00   96,566.67
          Calera           108,933.33  110,366.67  108,000.00  107,933.33
          Center Point      80,966.67   81,233.33   81,500.00   82,233.33
          Centreville       95,300.00   96,566.67   98,000.00   99,366.67
          Chalkville        94,100.00   94,433.33   94,433.33   94,433.33
          Chancellor              nan         nan         nan         nan
          Chelsea          162,066.67  167,033.33  166,900.00  167,400.00
          Chickasaw         51,200.00   53,666.67   54,933.33   56,066.67
          Chunchula         80,266.67   81,766.67   82,200.00   83,400.00
          Citronelle        64,833.33   66,633.33   68,066.67   67,766.67
          Clay             120,900.00  122,266.67  123,966.67  126,500.00
          Coden             62,600.00   64,800.00   66,866.67   68,566.67
          Coker            118,100.00  120,766.67  118,166.67  115,333.33
          Concord           78,600.00   78,700.00   80,133.33   82,800.00
          Cottondale       100,833.33  102,633.33  104,766.67  105,300.00
...                               ...         ...         ...         ...
Wisconsin Vernon           183,200.00  178,200.00  174,300.00  177,466.67
          Vienna           178,033.33  181,533.33  182,433.33  186,300.00
          Vinland          119,800.00  126,766.67  134,933.33  137,833.33
          Wales                   nan         nan         nan         nan
          Waterford        121,200.00  119,433.33  120,200.00  121,966.67
          Waukesha         141,266.67  138,433.33  136,733.33  139,833.33
          Waunakee         187,400.00  191,433.33  192,666.67  193,733.33
          Waupun            84,000.00   84,000.00   84,400.00   84,533.33
          Wausau            69,566.67   69,466.67   71,033.33   69,833.33
          Wayne                   nan         nan         nan         nan
          West Allis        80,933.33   81,933.33   84,066.67   80,666.67
          Weston            80,166.67   82,700.00   84,166.67   85,800.00
          Wheatland        129,800.00  132,133.33  134,933.33  137,833.33
          Whitelaw          96,033.33  101,433.33  108,033.33  114,000.00
          Williams Bay     122,900.00  115,300.00  110,766.67  110,700.00
          Wilson           129,033.33  129,366.67  132,433.33  137,200.00
          Wilson                  nan         nan         nan         nan
          Wind Lake        124,366.67  123,666.67  124,133.33  126,066.67
          Wind Point       149,233.33  145,266.67  140,866.67  147,866.67
          Wisconsin Dells  100,000.00  103,400.00  105,000.00  105,433.33
          Wolf River        95,166.67   99,333.33  103,800.00  107,633.33
          Woodruff                nan         nan         nan         nan
          Woodville               nan         nan         nan         nan
          Yorkville        139,066.67  134,900.00  135,033.33  140,300.00
Wyoming   Bar Nunn          93,033.33   89,666.67   88,900.00   93,500.00
          Burns            101,533.33  104,566.67  108,366.67  113,000.00
          Casper            89,233.33   89,600.00   89,733.33   93,166.67
          Cheyenne         116,866.67  120,033.33  121,533.33  123,633.33
          Evansville       128,033.33  128,766.67  130,833.33  132,066.67
          Pine Bluffs       93,733.33   95,066.67   94,633.33   98,066.67

                               2001q1      2001q2      2001q3      2001q4  \
State     RegionName
Alabama   Adamsville        73,466.67   74,000.00   73,333.33   73,100.00
          Alabaster        123,233.33  125,133.33  127,766.67  127,200.00
          Albertville       75,900.00   76,000.00   72,066.67   73,566.67
          Arab              84,200.00   84,533.33   81,666.67   83,900.00
          Ardmore                 nan         nan         nan         nan
          Axis                    nan         nan         nan         nan
          Baileyton               nan         nan         nan         nan
          Bay Minette       85,700.00   87,266.67   85,900.00   85,000.00
          Bayou La Batre    42,500.00   43,333.33   45,433.33   45,400.00
          Bessemer                nan         nan         nan         nan
          Birmingham        56,833.33   57,600.00   58,433.33   58,700.00
          Boaz              72,833.33   71,900.00   68,733.33   69,833.33
          Brent             96,533.33   98,500.00   99,366.67  104,100.00
          Brighton                nan         nan         nan         nan
          Brookwood        101,666.67  103,666.67  101,833.33   99,900.00
          Buhl              99,266.67  101,966.67  102,000.00  102,733.33
          Calera           109,333.33  112,200.00  114,333.33  112,133.33
          Center Point      83,366.67   84,333.33   84,466.67   85,333.33
          Centreville       98,100.00   99,266.67  100,400.00  104,633.33
          Chalkville        96,066.67   97,433.33   98,400.00   99,366.67
          Chancellor              nan         nan         nan         nan
          Chelsea          170,633.33  174,300.00  174,900.00  173,300.00
          Chickasaw         55,133.33   53,566.67   53,533.33   53,400.00
          Chunchula         85,400.00   86,100.00   86,733.33   86,566.67
          Citronelle        67,866.67   70,000.00   71,466.67   70,933.33
          Clay             128,033.33  128,300.00  129,233.33  130,466.67
          Coden             68,933.33   71,300.00   72,733.33   73,600.00
          Coker            114,066.67  115,700.00  118,833.33  122,566.67
          Concord           85,133.33   85,800.00   84,866.67   84,766.67
          Cottondale       106,733.33  109,233.33  109,200.00  109,900.00
...                               ...         ...         ...         ...
Wisconsin Vernon           186,233.33  190,500.00  193,100.00  197,466.67
          Vienna           190,600.00  191,566.67  193,733.33  194,833.33
          Vinland          144,300.00  148,200.00  147,733.33  151,200.00
          Wales                   nan         nan         nan         nan
          Waterford        127,000.00  133,000.00  139,233.33  143,100.00
          Waukesha         147,600.00  151,066.67  153,100.00  155,033.33
          Waunakee         197,333.33  198,500.00  201,266.67  202,100.00
          Waupun            85,100.00   86,600.00   87,666.67   87,100.00
          Wausau            69,866.67   71,366.67   73,100.00   74,033.33
          Wayne                   nan         nan         nan         nan
          West Allis        79,100.00   80,333.33   81,433.33   82,400.00
          Weston            87,266.67   88,500.00   90,066.67   91,766.67
          Wheatland        142,566.67  143,000.00  143,966.67  142,633.33
          Whitelaw         116,333.33  114,966.67  115,666.67  115,866.67
          Williams Bay     112,600.00  117,100.00  119,533.33  121,400.00
          Wilson           143,533.33  143,833.33  143,233.33  141,966.67
          Wilson                  nan         nan         nan         nan
          Wind Lake        132,133.33  139,466.67  144,200.00  147,333.33
          Wind Point       158,666.67  163,966.67  170,833.33  169,566.67
          Wisconsin Dells  105,533.33  107,100.00  109,866.67  111,633.33
          Wolf River       111,400.00  115,033.33  116,900.00  118,233.33
          Woodruff                nan         nan         nan         nan
          Woodville               nan         nan         nan         nan
          Yorkville        148,800.00  155,233.33  161,133.33  162,800.00
Wyoming   Bar Nunn          98,833.33   99,900.00   99,100.00   98,333.33
          Burns            115,833.33  117,200.00  117,800.00  117,633.33
          Casper            95,500.00   97,633.33   99,433.33  100,633.33
          Cheyenne         125,533.33  126,300.00  126,466.67  128,133.33
          Evansville       130,566.67  131,433.33  132,400.00  133,466.67
          Pine Bluffs      103,233.33  104,600.00  106,500.00  104,066.67

                               2002q1      2002q2     ...          2014q2  \
State     RegionName                                  ...
Alabama   Adamsville        73,333.33   73,133.33     ...       77,066.67
          Alabaster        127,300.00  128,000.00     ...      147,133.33
          Albertville       76,533.33   76,366.67     ...       84,033.33
          Arab              87,266.67   87,700.00     ...      113,366.67
          Ardmore                 nan         nan     ...      140,533.33
          Axis                    nan         nan     ...      111,066.67
          Baileyton               nan         nan     ...       87,666.67
          Bay Minette       84,066.67   84,566.67     ...      113,333.33
          Bayou La Batre    45,400.00   45,566.67     ...       49,800.00
          Bessemer                nan         nan     ...       54,600.00
          Birmingham        59,500.00   59,866.67     ...       61,733.33
          Boaz              72,766.67   72,100.00     ...       80,933.33
          Brent            103,800.00  102,533.33     ...       93,866.67
          Brighton                nan         nan     ...       45,366.67
          Brookwood         99,633.33  100,366.67     ...      106,633.33
          Buhl             102,533.33  100,100.00     ...      119,233.33
          Calera           111,500.00  111,233.33     ...      125,533.33
          Center Point      86,100.00   86,500.00     ...       78,833.33
          Centreville      105,233.33  105,066.67     ...       95,566.67
          Chalkville        99,866.67  100,733.33     ...      105,233.33
          Chancellor              nan         nan     ...      116,400.00
          Chelsea          170,566.67  171,100.00     ...      197,133.33
          Chickasaw         54,266.67   55,000.00     ...       59,000.00
          Chunchula         86,166.67   86,533.33     ...      120,666.67
          Citronelle        69,833.33   68,133.33     ...       88,600.00
          Clay             130,900.00  131,100.00     ...      134,100.00
          Coden             72,933.33   69,100.00     ...       77,566.67
          Coker            122,366.67  119,200.00     ...      141,700.00
          Concord           86,366.67   90,366.67     ...      104,733.33
          Cottondale       109,333.33  107,966.67     ...      128,500.00
...                               ...         ...     ...             ...
Wisconsin Vernon           201,800.00  201,966.67     ...      257,733.33
          Vienna           198,466.67  202,466.67     ...      265,700.00
          Vinland          149,233.33  146,433.33     ...      181,766.67
          Wales                   nan         nan     ...      262,133.33
          Waterford        145,733.33  151,266.67     ...      213,133.33
          Waukesha         158,200.00  157,833.33     ...      181,166.67
          Waunakee         206,100.00  208,533.33     ...      278,100.00
          Waupun            87,533.33   87,466.67     ...      113,166.67
          Wausau            76,400.00   78,700.00     ...       91,600.00
          Wayne                   nan         nan     ...      238,633.33
          West Allis        84,966.67   87,566.67     ...       90,433.33
          Weston            94,833.33   97,600.00     ...      133,233.33
          Wheatland        143,933.33  146,433.33     ...      169,266.67
          Whitelaw         117,766.67  116,800.00     ...      120,433.33
          Williams Bay     126,566.67  131,700.00     ...      223,000.00
          Wilson           142,466.67  139,200.00     ...      159,933.33
          Wilson                  nan         nan     ...      170,300.00
          Wind Lake        150,933.33  156,166.67     ...      228,200.00
          Wind Point       170,533.33  179,733.33     ...      261,233.33
          Wisconsin Dells  115,833.33  117,333.33     ...      137,500.00
          Wolf River       118,600.00  116,800.00     ...      162,666.67
          Woodruff                nan         nan     ...      172,133.33
          Woodville               nan         nan     ...      162,600.00
          Yorkville        164,866.67  172,466.67     ...      231,500.00
Wyoming   Bar Nunn          98,633.33  100,866.67     ...      199,233.33
          Burns            117,333.33  117,233.33     ...      168,866.67
          Casper           101,733.33  101,533.33     ...      175,766.67
          Cheyenne         128,466.67  129,633.33     ...      177,466.67
          Evansville       133,300.00  131,066.67     ...      296,733.33
          Pine Bluffs      102,233.33  103,566.67     ...      148,666.67

                               2014q3      2014q4      2015q1      2015q2  \
State     RegionName
Alabama   Adamsville        75,966.67   71,900.00   71,666.67   73,033.33
          Alabaster        147,633.33  148,700.00  148,900.00  149,566.67
          Albertville       84,766.67   86,800.00   88,466.67   89,500.00
          Arab             111,700.00  111,600.00  110,166.67  109,433.33
          Ardmore          139,566.67  140,900.00  143,233.33  143,000.00
          Axis             111,833.33  111,800.00  109,533.33  109,666.67
          Baileyton         90,033.33   94,100.00   94,600.00   95,666.67
          Bay Minette      110,600.00  109,900.00  111,100.00  114,300.00
          Bayou La Batre    51,000.00   51,766.67   50,733.33   50,500.00
          Bessemer          55,333.33   54,733.33   55,200.00   57,200.00
          Birmingham        60,900.00   59,533.33   59,900.00   61,966.67
          Boaz              81,866.67   82,866.67   83,966.67   85,266.67
          Brent             97,100.00  100,100.00  102,433.33  101,800.00
          Brighton          45,133.33   43,766.67   42,500.00   44,233.33
          Brookwood        110,233.33  114,366.67  117,700.00  118,700.00
          Buhl             132,033.33  138,400.00  141,766.67  141,200.00
          Calera           126,733.33  127,633.33  128,366.67  128,033.33
          Center Point      78,433.33   80,200.00   80,100.00   80,233.33
          Centreville       98,866.67  101,866.67  103,933.33  104,600.00
          Chalkville       104,333.33  105,866.67  106,966.67  107,666.67
          Chancellor       117,000.00  117,133.33  114,733.33  109,733.33
          Chelsea          199,066.67  199,933.33  202,333.33  205,633.33
          Chickasaw         60,400.00   59,733.33   58,066.67   57,633.33
          Chunchula        121,600.00  122,733.33  123,666.67  124,333.33
          Citronelle        89,633.33   90,766.67   91,300.00   92,400.00
          Clay             134,300.00  135,466.67  138,466.67  139,633.33
          Coden             76,866.67   77,800.00   79,300.00   81,900.00
          Coker            146,300.00  154,333.33  157,566.67  157,166.67
          Concord          100,233.33   94,800.00   96,200.00  103,466.67
          Cottondale       130,566.67  133,433.33  134,500.00  135,500.00
...                               ...         ...         ...         ...
Wisconsin Vernon           256,200.00  254,566.67  253,633.33  255,600.00
          Vienna           267,466.67  267,766.67  268,300.00  268,433.33
          Vinland          183,500.00  184,233.33  184,033.33  186,266.67
          Wales            262,233.33  258,666.67  256,600.00  258,666.67
          Waterford        213,166.67  213,166.67  218,600.00  227,633.33
          Waukesha         180,433.33  180,066.67  180,433.33  183,766.67
          Waunakee         283,866.67  283,800.00  283,366.67  289,966.67
          Waupun           113,066.67  112,666.67  111,666.67  111,366.67
          Wausau            93,533.33   92,900.00   94,066.67   94,766.67
          Wayne            238,966.67  236,000.00  235,500.00  237,900.00
          West Allis        90,933.33   88,333.33   90,633.33   91,866.67
          Weston           133,033.33  131,866.67  133,733.33  137,733.33
          Wheatland        170,166.67  173,600.00  174,800.00  176,100.00
          Whitelaw         121,700.00  122,766.67  121,933.33  120,033.33
          Williams Bay     230,366.67  232,866.67  230,433.33  223,500.00
          Wilson           157,633.33  154,233.33  154,766.67  157,333.33
          Wilson           174,433.33  177,733.33  181,833.33  181,066.67
          Wind Lake        226,133.33  225,966.67  230,800.00  238,466.67
          Wind Point       254,666.67  248,000.00  241,866.67  244,333.33
          Wisconsin Dells  138,933.33  141,433.33  140,500.00  139,500.00
          Wolf River       164,733.33  170,433.33  170,533.33  169,400.00
          Woodruff         171,600.00  168,600.00  168,166.67  168,200.00
          Woodville        169,566.67  171,666.67  172,866.67  171,100.00
          Yorkville        238,133.33  237,766.67  239,133.33  243,066.67
Wyoming   Bar Nunn         200,933.33  201,133.33  206,666.67  208,866.67
          Burns            161,933.33  160,433.33  162,600.00  163,066.67
          Casper           177,300.00  181,000.00  182,066.67  182,633.33
          Cheyenne         176,733.33  178,766.67  181,700.00  183,266.67
          Evansville       305,666.67  309,500.00  307,300.00  303,166.67
          Pine Bluffs      154,366.67  158,100.00  163,900.00  167,433.33

                               2015q3      2015q4      2016q1      2016q2  \
State     RegionName
Alabama   Adamsville        73,933.33   73,866.67   74,166.67   74,933.33
          Alabaster        150,366.67  151,733.33  153,466.67  155,100.00
          Albertville       90,233.33   91,366.67   92,000.00   92,466.67
          Arab             110,900.00  112,233.33  110,033.33  110,100.00
          Ardmore          144,600.00  143,966.67  142,566.67  143,233.33
          Axis             110,033.33  109,600.00  110,266.67  112,200.00
          Baileyton         96,833.33   97,233.33   96,766.67   98,900.00
          Bay Minette      118,533.33  121,433.33  120,266.67  118,333.33
          Bayou La Batre    50,133.33   48,933.33   48,566.67   47,833.33
          Bessemer          58,633.33   59,433.33   59,766.67   59,866.67
          Birmingham        62,666.67   63,100.00   62,033.33   61,633.33
          Boaz              86,033.33   86,566.67   85,966.67   87,366.67
          Brent             97,900.00   95,600.00   94,433.33   91,366.67
          Brighton          46,266.67   45,766.67   45,033.33   44,433.33
          Brookwood        120,066.67  118,533.33  115,233.33  111,966.67
          Buhl             141,066.67  145,500.00  139,800.00  135,566.67
          Calera           128,200.00  128,533.33  129,633.33  129,933.33
          Center Point      81,000.00   80,900.00   82,033.33   83,033.33
          Centreville      100,200.00  101,700.00  103,233.33  100,300.00

In [9]:
# Question 6
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"